body, html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
}

header {
    min-height: 5rem;
    background-color: rgb(0, 0, 44);
    z-index: 1;
}

header a {
    text-decoration: none;
}

.not-link {
    color: #6ea8fe;
}

.verti-adjust {    
    margin: 1.5rem 0;
}

main{
    z-index: 0;
    min-height: 100vh;
}

.btn-other {
    background-color: rgb(0, 0, 44);
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-radius: 0;
    min-height: 100%;
    max-width: 2rem;
    z-index: 0;
}

.btn-other p {
    color: #6ea8fe;
}

nav {
    width: 10rem;
    background-color: rgb(0, 0, 44);
}

.max-img {
    max-height: 15rem;
}

.img-size-min {
    max-width: 10rem;
    max-height: 20rem;
}

.intro-text {
    min-height: 50%;
}

footer {
    min-height: 5rem;
    background-color: rgb(0, 0, 44);
    color: #6ea8fe;
    z-index: 1;
}