body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: lightgreen;
    font-family: "Alan Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 5rem;
    background-color: #FFCECE;
    border-bottom: solid 0.25rem #80FF00;
    padding: 0 1.25rem 0 1.25rem;
}

.logo,
.connexion {
    border: solid 0.125rem #80FF00;
    border-radius: 100%;
    padding: 0.3125rem;
    background-color: lightgreen;
}

.centre-page {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: auto;
    width: 16em;
    background-color: #FFCECE;
    border-right: solid 0.25rem #80FF00;
}

nav ul {
    list-style: none;
    padding-left: 1.25rem;
}

nav ul li {
    margin-bottom: 0.25rem;
}

nav a,
.acceuil {
    margin: 1.25rem;
}

.separateur {
    border: solid 1px black;
    width: 99.2%;
}

.titre-liste-nav {
    font-weight: 700;
}

main {
    padding: 2rem;
    width: 100vw;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 5rem;
    background-color: #FFCECE;
    border-top: solid 0.25rem #80FF00;
    padding: 0 1.25rem 0 1.25rem;
}